.main {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./banner.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.info-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 100%;
  color: white;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.info-card:hover {
  transform: scale(1.05);
}

.book-image {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.book-image:hover {
  transform: scale(1.1);
}

.book-info {
  margin-top: 20px;
}

.book-info strong {
  font-weight: bold;
  margin-right: 10px;
  transition: color 0.2s ease-in-out;
}

.book-info strong:hover {
  color: lightgray;
}

.read-button {
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.read-button:hover {
  background-color: #3e8e41;
}

.recommendations-section, .advertisement-section {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out;
}

.recommendations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recommendation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.recommendation-image {
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.recommendation-image:hover {
  transform: scale(1.1);
}

.advertisement {
  text-align: center;
}

/* Add some animation to the recommendations section */
.recommendations-section {
  animation-delay: 0.5s;
}

.advertisement-section {
  animation-delay: 1s;
}
